*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #787575;
}

/*Tekst*/
@font-face {
    font-family: Baloo;
    src: url(Fonts/Baloo\ Bhaijaan\ Regular\ 400.ttf);  
}

@font-face {
    font-family: ArialB;
    src: url(Fonts/arialbd.ttf);  
}

h1 {
    color: #F1F1F1;
    font-family: Baloo;
}

p {
    color: #F1F1F1;
    font-family: ArialB;
}
/**/